.navigation__container { 
    background-color: #fafbf3; 
} 
.navbar {
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
     padding: 1rem 2rem; 
    } 
    .nav-links { 
        display: flex; 
        gap: 3rem; 
        list-style: none; 
        font-family: "Helvetica"; 
        font-weight: bold; 
    } 
    .navigation__logo{ 
        height: 50px;
        margin: 0% 1% ; 
    } 
    .navigation__buttons{ 
        height: 50px; 
        margin: 0% 1% ; 
        flex-direction: row;
    
    }

 .navigation__link {
  text-decoration: none;
  color: #111;
  font-family: "Helvetica";
  font-weight: bold;
  transition: color 0.2s ease;
}

.navigation__link:visited {
  color: #111;
}

.navigation__link:hover {
  color: #B71F38;
}

.navigation__link:active {
  color: #B71F38;
}

@media screen and (max-width: 320px) {
    .navigation__logo{ 
        height: 30px;
        margin: 0% 1% ; 
    } 

        .navigation__buttons{ 
        height: 30px; 
        margin: 0% 1% ; 
        flex-direction: row;
    
    }
  
}
